<a href="https://colab.research.google.com/github/Sangco428/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fundamentals of Python

Python Variables

In [ ]:
x = float(1)
d, e = 0, -1
a, b, c="Sally", "John", "Ana"

print("This is a sample")
print(a)

This is a sample
Sally

Casting

In [ ]:
print(x)

1.0

Type Function

In [ ]:
y = "Johnny"
print(type(y))

<class 'str'>

Double quotes and Single quotes

In [57]:
h = "Maria"
h = 'Maria'
v = 1
V = 2

print(h)

Maria

Multiple Variables

In [ ]:
x, y, z = "one", 'two', "three"

print(x)
print(y)
print(z)

one
two
three

One Variables to Multiple Variables

In [31]:
x = y = z ="Stella"

print(x)
print(y)
print(z)
print(x, y, z)

Stella
Stella
Stella
Stella Stella Stella

Output Variables

In [ ]:
x = "enjoying"
y = "Python is"

print(y + " " + x)

Python is enjoying

Arithmetic Operators

In [43]:
f= 1
g= 2
i= 6

print(f+g)
print(f-g)
print(f*g)
print(int(i/g))
print(3/g)
print(3%g)
print(3//g)

3
-1
2
3
1.5
1
1

Boolean Operators

In [53]:
k=2
l=1

print(k>>2)#shift right right twice
print(k<<2)#shift left right twice

0
4

Assignment Operators

In [54]:
s = 2

s*=5 #Same as s = s * 5
print(s)

10

Relational Opperators

In [61]:
print(v>s) #v= 1, s =2

print(v==s)

False
False

Logical Operators

In [66]:
print(v<s and s==s)
print(v<s or v==s)
print(not(v<s or v==s))

True
True
False

Identity Operators

In [68]:
print(v is s)
v is not s

False

True