<a href="https://colab.research.google.com/github/Sangco428/OOP-58001/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [1]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

bool() function

In [2]:
print(bool("Maria"))
print(bool(19))
print(bool([]))
print(bool(0))
print(bool(1))
print(bool(None))
print(bool(False))

True
True
False
False
True
False
False

Function can return a Boolean

In [11]:
def myFunction():
  return True

print(myFunction())

True

In [12]:
if myFunction():
  print("Yes!")
else:
    print("No!")

Yes!

Application 1

In [24]:
print(10>9)

a=60
b=13
print(a==b)
print(a!=b)

True
False
True

In [22]:
print(a>b)

if a<b:
  print("a is less than b") 
else:
  print("a is greater than b")

False
a is less than b

Python Operators

In [25]:
print(10+3)
print(10-3)
print(10*3)
print(10//3)
print(10%3)
print(10/3)

13
7
30
3
1
3.3333333333333335

Bitwise Operation

In [33]:
# a = 60, binary 0011 1100
# b = 13, binary 0000 1101

print(a&b)
print(a|b)
print(a^b)
print(a<<2)

12
61
49
240

Application 2

In [43]:
#Assignment Operators
x = 2
print(x)
x +=3 # is the same as x = x+3, 2+3=5
print(x)
x -=3 # is the same as x = x-3
print(x)
x *=3 # is the same as x = x*3
print(x)
x /=3 # is the same as x = x/3
print(x)
x %=3 # is the same as x = x%3
print(x)

2
5
2
6
2.0
2.0

Logical Operator

In [49]:
k, l = True, False

print(k and l)
print(k or l)
print(not(k or l))

False
True
False

Identity Operators

In [51]:
k is l
k is not l

True

#Control Structure

If Statement

In [56]:
v = 1
z = 2

if v<z:
 print("1 is less than 2")

1 is less than 2

Elif

In [ ]:
if v<z:
 print("1 is less than 2")
elif v>z:
  print("v is greater than z")

Else Statement

In [62]:
number = int(input()) #to know if the number is positive or negative

if number>0:
 print("positive")
elif number<0:
  print("negative")
else:
  print("v is equal to z")

-5
negative

Application - Develop a Python Program that will accept if a person is entitled to vote or not

In [64]:
age = int(input())
if age>=18:
 print("You are qualified to vote")
elif age<0:
  print("You have inputted an invalid age")
else:
  print("You are not qualified to vote")

-15
You have inputted an invalid age

Nested If... Else

In [76]:
u = int(input())
if u>10:
  print("u is above 10")
  if u>20:
    print("u is above 20")
    if u>30:
      print("u is above 30")
      if u>40:
         print("u is above 40")
         if u>50:
           print("u is above 50")
         else:
           print("u is below 50")

49
u is above 10
u is above 20
u is above 30
u is above 40
u is below 50

Loop Statement

In [82]:
week = ["Sunday", 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
season = ['rainy', 'sunny']

for x in week:
  for y in season:
   print(y, x)

rainy Sunday
sunny Sunday
rainy Monday
sunny Monday
rainy Tuesday
sunny Tuesday
rainy Wednesday
sunny Wednesday
rainy Thursday
sunny Thursday
rainy Friday
sunny Friday
rainy Saturday
sunny Saturday

The Break Statement

In [91]:
for x in week:
  if x == "Thursday":
    break
print(x)

Thursday

In [93]:
#To display Sunday to Thursday
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

While Loop

In [94]:
i= 1
while i<6:
  print(i)
  i +=1 #i+1 Assignment operator

1
2
3
4
5

Application 4 - Create a Python Program that displays numbers from 1 to 4 using while loop

In [103]:
j= 1
while j<5:
  print(j)
  j +=1

1
2
3
4

Application 5 - Create a Python Program that displays numbers from 1 to 4 using while loop and using break statement

In [106]:
j= 1
while j<=4:
  if j ==4:
    print(j)
  j +=1

4